*.pyc
*.pyo
*.egg-info
*.class
*~
*#
/doc/generated/*
/runpy
/build
.coverage
dist
.tox
.cache
.python-version
.mypy_cache
.pytest_cache
build
test/integration/integration_tests.conf

# PyCharm
.idea/
venv/
/.history
