bandit
black
coverage
doc8
flake8
flake8-docstrings
flake8-print
isort
mock
mypy==0.812
mypy_extensions==0.43
pyflakes
pylint
pytest
pytest-cov
pytest-mock
readme_renderer
seed-isort-config
sphinx
typing
vulture
