# This workflow runs tests on pull requests.
name: tests

on:
  pull_request:
  push:
  # Run once a day
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: true
      matrix:
        platform:
          - os: ubuntu-latest
            architecture: x64
          - os: windows-latest
            architecture: x64
          # x86 builds are only meaningful for Windows
          - os: windows-latest
            architecture: x86
          - os: macos-13
            architecture: x64
          - os: macos-latest
            architecture: x64
        python:
          - 3.8
          - 3.9
          - "3.10"
          - "3.11"
          - "3.12"
        python-macos-latest:
          - "3.11"
          - "3.12"
        category:
          - local
# These require credentials.
# Enable them once we sort how to provide them.
#          - integ
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        if: matrix.platform.os != 'macos-latest'
        with:
          python-version: ${{ matrix.python }}
          architecture: ${{ matrix.platform.architecture }}
      
      - uses: actions/setup-python@v4
        if: matrix.platform.os == 'macos-latest'
        with:
          python-version: ${{ matrix.python-macos-latest }}
          architecture: ${{ matrix.platform.architecture }}
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r dev_requirements/ci-requirements.txt
      - name: run test
        env:
          TOXENV: ${{ matrix.category }}
        run: tox -- -vv
