# This workflow runs tests.
name: tests

on:
  workflow_call:

jobs:
  tests:
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: true
      matrix:
        platform:
          - os: ubuntu-latest
            architecture: x64
          - os: windows-latest
            architecture: x64
          # x86 builds are only meaningful for Windows
          - os: windows-latest
            architecture: x86
          - os: macos-14
            architecture: x64
        python:
          - "3.10"
          - "3.11"
          - "3.12"
        category:
          - local
# These require credentials.
# Enable them once we sort how to provide them.
#          - integ
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          architecture: ${{ matrix.platform.architecture }}
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r dev_requirements/ci-requirements.txt
      - name: run test
        env:
          TOXENV: ${{ matrix.category }}
        run: tox -- -vv
