# This workflow runs code coverage checks.
name: Code Coverage

on:
  pull_request:
  push:
    branches:
      - master
  # Run once a day
  schedule:
    - cron: '0 0 * * *'

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'  # Using latest Python version
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "tox < 4.0"
          pip install -r dev_requirements/coverage-requirements.txt
          pip install -r dev_requirements/ci-requirements.txt
      
      - name: Run coverage tests
        env:
          TOXENV: "coverage"
          AWS_ENCRYPTION_SDK_PYTHON_INTEGRATION_TEST_AWS_KMS_KEY_ID: "arn:aws:kms:us-west-2:658956600833:key/b3537ef1-d8dc-4780-9f5a-55776cbb2f7f"
        run: tox
