name: Python Integration Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8.12', '3.9.7', '3.10.0', '3.11.0', '3.12.0']
        include:
          - python-version: '3.8.12'
            tox-env: 'py38-integ'
          - python-version: '3.9.7'
            tox-env: 'py39-integ'
          - python-version: '3.10.0'
            tox-env: 'py310-integ'
          - python-version: '3.11.0'
            tox-env: 'py311-integ'
          - python-version: '3.12.0'
            tox-env: 'py312-integ'
    permissions:
      id-token: write
      contents: read
    env:
      TOXENV: ${{ matrix.tox-env }}
      AWS_ENCRYPTION_SDK_PYTHON_INTEGRATION_TEST_AWS_KMS_KEY_ID: >-
        arn:aws:kms:us-west-2:658956600833:key/b3537ef1-d8dc-4780-9f5a-55776cbb2f7f
      AWS_ENCRYPTION_SDK_PYTHON_INTEGRATION_TEST_AWS_KMS_MRK_KEY_ID_1: >-
        arn:aws:kms:us-east-1:658956600833:key/mrk-80bd8ecdcd4342aebd84b7dc9da498a7

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials for Tests
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::370957321024:role/GitHub-CI-ESDK-CLI-Role-us-west-2
          role-session-name: CLITests
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "tox < 4.0"
          
      - name: Run integration tests with tox
        run: tox
